micronaut:
  security:
    authentication: cookie 
    token:
      jwt:
        signatures:
          secret:
            generator: 
              secret: '"${JWT_GENERATOR_SIGNATURE_SECRET}"' 
    oauth2:
      clients:
        github: 
          service-id: githubv3
          client-id:  '${OAUTH_CLIENT_ID}' 
          client-secret: '${OAUTH_CLIENT_SECRET}' 
          redirect-uri: 'http://localhost:8080/oauth/callback/github'
          scopes: 
            - user:email
            - read:user
            - public_repo
          authorization:
            url: 'https://github.com/login/oauth/authorize' 
          token:
            url: 'https://github.com/login/oauth/access_token' 
            auth-method: CLIENT_SECRET_POST
    endpoints:
      logout:
        get-allowed: true 

micronaut:
  http:
    services:
      githubv3:
        url: "https://api.github.com"