/* Más neutro para que el botón defina su estética encima */
.box {
  background: rgba(255, 255, 255, 0.32);
  box-shadow:
    inset 0 0 4px 0px rgba(255,255,255,0.8),
    0 1px 0 rgba(255,255,255,0.4);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  border: none; /* Lo gestionamos fuera si hace falta */
}
